{% extends 'base.html' %}

{% block title %} Şifre Değiştir {% endblock %}

{% block body %}

<div class="container my-5 offset-4">
    <div class="row">
        <div class="col-sm-4 col-md-8 col-lg-10">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Şifre Değiştir</h4>
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <label for="current_password" class="form-label">{{ form.current_password.label }}</label>
                            {{ form.current_password(class="form-control", id="current_password") }}
                        </div>
                        <div class="mb-3">
                            <label for="new_password" class="form-label">{{ form.new_password.label }}</label>
                            {{ form.new_password(class="form-control", id="new_password") }}
                        </div>
                        <div class="mb-3">
                            <label for="confirm_new_password" class="form-label">{{ form.confirm_new_password.label }}</label>
                            {{ form.confirm_new_password(class="form-control", id="confirm_new_password") }}
                        </div>
                        <div class="d-grid">
                            {{ form.change_password(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
