{% extends 'base.html' %}

{% block title %} Hakkımızda {% endblock %}

{% block body %}

<div class="container mt-5">
    
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="../static/images/1.jpg" alt="Company Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>Hakkımızda</h2>
            <p>Satıcıların alıcılara ulaşmasına kolaylık sağlıyoruz!!</p>
            <h2>Misyonumuz</h2>
            <p>Biz, en iyi ilanları sunarak müşterilerimizin ihtiyaçlarını karşılamak amacıyla kurulmuş bir platformuz. Amacımız, kullanıcılarımızın ilan verme ve aradıkları ürünleri kolayca bulma süreçlerini en basit ve etkili hale getirmektir.</p>
            <h2>Vizyonumuz</h2>
            <p>Vizyonumuz, ilan sektöründe lider bir platform olmak ve kullanıcılarımızın her türlü ilan ihtiyacını karşılayabilecekleri bir mecra yaratmaktır. Yenilikçi çözümlerle sürekli olarak kendimizi geliştirmek ve en iyi hizmeti sunmak için çalışıyoruz.</p>
        </div>
    </div>
</div>
{% endblock %}