{% extends 'base.html' %}

{% block title %} Arama {% endblock %}


{% block body %}

{% if items | length < 1 %}
<h1 style="text-align: center; line-height: 500px;">Aradığınız ilan yok</h1>

{% else %}


<div class="container mt-5">
    {% for item in items %}
    <div class="cart">
        <div class="image">
           <a href="/views/{{item.id}}"><img src="{{ item.product_picture }}" alt="İlan Resmi" class="product-image"></a>
        </div>
        <div class="content">
            <a href="/views/{{item.id}}"><h5>{{ item.product_name }}</h5></a>
            <h5 class="price">{{ item.current_price }} TL</h5>
            {% if current_user.id == 1 %}
            <span style="display: flex; align-items: center; justify-content: center;">
                <a class="nav-link action-link edit-link" href="/shop-items" style="background-color: rgb(134, 134, 32);  color: white; padding: 10px; border-radius: 10px; margin-right: 5px;">Düzenle</a>
                <a class="nav-link action-link delete-link" href="/shop-items" style="background-color: red; color: white; padding: 10px; border-radius: 10px;">Sil</a>
            </span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}

{% endblock %}